body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



h1 {
    text-align: center;
    margin-bottom: 20px;
}

.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.tab-button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: #f1f1f1;
    margin: 0 5px;
}

.tab-button.active {
    background-color: #111111;
    color: white;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 12px;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.product-header .product-title {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.product-header .vendor {
    color: #141414;
    font-size: 14px;
    margin: 0;
}

.product-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.product-pricing .price {
    color: #0d0e0d;
    font-size: 18px;
    font-weight: bold;
}

.product-pricing .compare-at-price {
    color: #888;
    font-size: 14px;
    text-decoration: line-through;
}

.product-pricing .discount {
    color: red;
    font-size: 14px;
}

.add-to-cart {
    background-color: #0d0e0d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.add-to-cart:hover {
    background-color: #dde9dd;
}


  .product-compare-at-price {
    text-decoration: line-through;
    color: #888;
}
  